<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--[if lt IE 9]>
<script type="text/javascript" src="/static/h-ui/lib/html5shiv.js"></script>
<script type="text/javascript" src="/static/h-ui/lib/respond.min.js"></script>
<![endif]-->
  <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.admin.css" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui/css/style.css" />
  <!--[if IE 6]>
<script type="text/javascript" src="/static/h-ui/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
  <title>场景列表</title>
  <style>
    .mobile {
      /* 关键样式 */
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch
    }
  </style>
</head>

<body class="mobile">
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 数据管理
    <span class="c-gray en">&gt;</span> 数据列表
    <span class="c-gray en">&gt;</span> {{scene.name}} 历史记录
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="Hui-iconfont">&#xe68f;</i>
    </a>
  </nav>

  <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="r">共有数据：<strong>{{logs|length}}</strong> 条</span>
  </div>

  <div class="mt-20">
    <table class="table table-border table-bordered table-bg table-hover table-sort">
      <thead>
        <tr class="text-c">
          <th width="10%">ID</th>
          <th width="15%">场景名称</th>
          <th width="10%">标签</th>
          <th width="10%">日志</th>
          <th width="5%">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="text-c">
            <td><input name="" type="checkbox" value=""></td>
            <td>001</td>
            <td><a href="javascript:;" onClick="picture_edit('图库编辑','picture-show.html','10001')"><img width="210" class="picture-thumb" src="temp/200x150.jpg"></a></td>
            <td class="text-l"><a class="maincolor" href="javascript:;" onClick="picture_edit('图库编辑','picture-show.html','10001')">现代简约 白色 餐厅</a></td>
            <td>2014-6-11 11:11:42</td>
            <td>2014-6-11 11:11:42</td>
            <td class="td-manage"><a style="text-decoration:none" onClick="picture_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> <a style="text-decoration:none" class="ml-5" onClick="picture_edit('图库编辑','picture-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
          </tr> -->
        {% for log in logs %}
        <tr class="text-c">
          <td>{{loop.index0}}</td>
          <td>{{scene.name}}</td>
          <td class="text-c">{{scene.tag}}</td>
          <td>
            <a class="maincolor" href="javascript:;"
              onClick="show('{{scene.name}} → {{log}}', '/data/show?log={{log}}&scene_id={{scene_id}}')">{{log.replace(".csv",
              "")}}</a>
          </td>
          <td class="td-manage">
            <a style="text-decoration:none" class="ml-5" onClick="del(this,'{{log}}', '{{scene_id}}')"
              href="javascript:;" title="删除">
              <i class="Hui-iconfont">&#xe6e2;</i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" src="/static/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/h-ui/lib/layer/2.4/layer.js"></script>
  <script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
  <script type="text/javascript" src="/static/h-ui/js/H-ui.admin.js"></script>
  <!--/_footer 作为公共模版分离出去-->

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" src="/static/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
  <script type="text/javascript" src="/static/h-ui/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/h-ui/lib/laypage/1.2/laypage.js"></script>
  <script type="text/javascript">
    $('.table-sort').dataTable({
      "aaSorting": [[0, "desc"]],//默认第几个排序
      "bStateSave": true,//状态保存
      "aoColumnDefs": [
        //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
        { "orderable": false, "aTargets": [4] }// 制定列不参与排序
      ]
    });

    /*选择场景*/
    function show(title, url) {
      // layer.open({
      // 	type: 2,
      // 	area: [480 + 'px', 640 + 'px'],
      // 	fix: false, //不固定
      // 	maxmin: true,
      // 	title: title,
      // 	content: url,
      // });
      var index = layer.open({
        type: 2,
        title: title,
        content: url,
      });
      layer.full(index);
      //window.open(url)
    }

    function show2(title, url) {
      window.open(url)
    }

    /*删除*/
    function del(obj, log, scene_id) {
      layer.confirm('确认要删除吗？', function (index) {
        $.ajax({
          type: 'DELETE',
          url: "{{ url_for('data.del_log')}}",
          data: {
            "log": log,
            "scene_id": scene_id,
          },
          success: function (data) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!', { icon: 1, time: 1000 });
            console.log(data)
          },
          error: function (data) {
            console.log(data.msg);
          },
        });
      });
    }
  </script>
</body>

</html>